.inputBlock {
  position: relative;
  margin-bottom: 40px;
}

.input {
  font-size: 1rem;
  padding: 5px 10px;
  font-weight: 100;
  border: 1px solid #000;
}

.errorInput {
  border: 2px solid red;
}

.error {
  position: absolute;
  transform: translate(-50%, 100%);
  color: red;
  bottom: 0;
  left: 50%;
}