.transaction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transactions__table {
  border-collapse: collapse;
  vertical-align: middle;
  text-align: left;
}

.transactions__table td {
  margin: 0;
  padding: 10px;
  max-width: 500px;
  border: 0.5px solid #ccc;
  vertical-align: middle;
}

.table__icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.index {
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 50px;
  font-weight: 900;
  margin-bottom: 5px;
  min-height: 50px;
}

.cell {
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 150px;
  min-height: 50px;
  max-width: 300px;
  margin-bottom: 5px;
}

.sort {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.sort__title {
  margin-right: 5px;
}

.sort__ascending {
  display: flex;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;
}

span svg {
  vertical-align: middle;
}

.cell_icon {
  text-align: center;
}
